# Compiled files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*.terraform.lock.hcl

# logs
*.log

# Directories
.terraform/

# Ignored Terraform files
*gitignore*.tf

# Ignore all YAML files containing the `-values-` string.
*-values-*.yaml

# Do not ignore sealed YAML files.
!*-sealed.yaml

# Ignored vscode files
.vscode/

# Ignore asciinema recordings
*.cast

