# Compiled files
*.tfstate
*.tfstate.backup
*.tfstate.lock.info
*.terraform.lock.hcl

# logs
*.log

# Directories
.terraform/

# Ignored Terraform files
*gitignore*.tf

# Ignored vscode files
.vscode/